<section class="controller">
    <h5>Lorem ipsum dolor sit amet consectetur </h5>
    <h4>Lorem ipsum dolor sit amet, </h4>
    <div class="img-controller">
        <img src="../assets/images/LucasRender.png" alt="lucaswolf">
        <div class="title">
            <p>LucasWolf</p>
        </div>
    </div>
    <div class="detail">
        <p></p>
    </div>
    <div class="skill">

    </div>
    <div class="social">
        <ul >
            <li>
                <a href="git"><i class="fa fa-github-square" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="linkedin"></a><i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </li>
            <li>
                <a href="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
    <div class="copy">
        <p></p>
    </div>
</section>